{% extends "base.html" %}
{% block title %}
	{{ title }}
{% endblock title %}

{% block sidenav %}
	{% for page in page_list %}
		<li><a href="{% url 'index' %}{{ page.permalink|cut:'/' }}">{{ page.title }}</a></li>
	{% endfor %}
{% endblock sidenav %}

{% block main_content %}
	{% if title == "Home" %}
		<h2>Our page contains:</h2>
		<ul>
			<li><strong>Actors:</strong> {{ num_actor }}</li>
			<li><strong>Tv Shows:</strong> {{ num_shows }}</li>
			<li><strong>Genres:</strong> {{ num_genres }} </li>
		</ul>
		{% endif %}
	</ul>
	{% for show in tv_show_list %}
		{% if show.display_genre == title %}
		<ul>
			<li>{{ show.title }}</li>
			<li>{{ show.display_genre }}</li>
		</ul>
		{% endif %}
	{% endfor %}
	{% autoescape off %}
	{% endautoescape %}
{% endblock main_content %}