{% extends "base.html" %}
{% load static %}
<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Business Name or Tagline</h1>
        <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
        <a class="btn btn-primary" href="#">Call to Action!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
	{% block main_content %}												
    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <h2 class="text-white m-0"> {{ context }}</h2>
      </div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
          {{ form.email.errors }}
        {% endif %}
            <p>{{ form.email }}</p>
          <input type="submit" class="btn btn-default btn-lg" value="Reset password">
    </form>
</div>
	{% endblock main_content %}
    <!-- /.row -->
  <!-- /.container -->