{% extends "base.html" %}
{% load static %}
<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Business Name or Tagline</h1>
        <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
        <a class="btn btn-primary" href="#">Call to Action!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
	{% block main_content %}												
    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <h2 class="text-white m-0"> {{ context }}</h2>
      </div>
    </div>
	{% if title == "Home" %}
	<div class="row justify-content-around">
		<div class="col">
			<h3>Our Index Consists of:</h3>
		</div>
		<div class="col">
			<h4><strong>Tv Shows:</strong> {{ num_shows }}</h4>
		</div>
		<div class="col">
			<h4><strong>Actor(s):</strong> {{ num_actor }}</h4>
		</div>
		<div class="col">
			<h4><strong>Genres:</strong> {{ num_genres }} </h4>
		</div>
	</div>
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<img src="{% static 'us_office.png' %}" class="d-block w-100" alt="US_Office">
			  </div>
			  <div class="carousel-item">
				<img src="{% static 'lastdance.png' %}" class="d-block w-100" alt="Last_Dance">
			  </div>
			  <div class="carousel-item">
				<img src="{% static 'sopranos.png' %}" class="d-block w-100" alt="Sopranos">
			  </div>
			</div>
		  </div>
	{% endif %}

	<!-- Content Row -->
	<div class="row align-items-start">
	{% for show in tv_show_list %}
		{% if title in show.display_genre %} 
      			<div class="col-4">
        			<div class="card h-100">
						<img src="{{ show.picture.url }}" class="card-img-top" alt="{{ show.title }}">
          				<div class="card-body">
            				<h2 class="card-title">{{ show.title }}</h2>
            				<ul class="card-text">
								<li><b>Director:</b> {{ show.director }}</li>
								<li><b>Actor(s):</b> {{ show.display_actor }}</li>
								<li><b>Release:</b> {{ show.release }}</li>
								<li><b>Rating:</b> {{ show.rating }}</li>
								<li><b>Genre(s):</b> {{ show.display_genre }}</li>
							</ul>
          				</div>
        	</div>
		  
		</div>
		{% endif %}
	{% endfor %}
</div>
	{% endblock main_content %}